xsd/internal/Baserow_API_spec/_api_applications__GET.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:lib_BaseRow_ns="http://www.convertigo.com/convertigo/projects/lib_BaseRow" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.convertigo.com/convertigo/projects/lib_BaseRow">
    <xsd:element name="Baserow_API_spec___api_applications__GET" type="lib_BaseRow_ns:Baserow_API_spec___api_applications__GETRequestData">
        <xsd:annotation>
            <xsd:documentation><![CDATA[Lists all the applications that the authorized user has access to. The properties that belong to the application can differ per type. An application always belongs to a single group. All the applications of the groups that the user has access to are going to be listed here.
]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Baserow_API_spec___api_applications__GETResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_BaseRow_ns:Baserow_API_spec___api_applications__GETResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="Baserow_API_spec___api_applications__GETResponseType">
        <xsd:sequence>
            <xsd:element name="document" type="lib_BaseRow_ns:Baserow_API_spec___api_applications__GETResponseData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec___api_applications__GETRequestData">
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_applications__GET_document_HttpInfo_statusType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="code" type="xsd:short"/>
                <xsd:attribute name="text" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_applications__GET_document_HttpInfo_headers_headerType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="name" type="xsd:string"/>
                <xsd:attribute name="value" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_applications__GET_document_HttpInfo_headersType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="header" type="lib_BaseRow_ns:Baserow_API_spec__api_applications__GET_document_HttpInfo_headers_headerType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_applications__GET_document_HttpInfo_responseHeaders_headerType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="name" type="xsd:string"/>
                <xsd:attribute name="value" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_applications__GET_document_HttpInfo_responseHeadersType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="header" type="lib_BaseRow_ns:Baserow_API_spec__api_applications__GET_document_HttpInfo_responseHeaders_headerType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_applications__GET_document_HttpInfoType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="url" type="xsd:anyURI"/>
            <xsd:element minOccurs="0" name="status" type="lib_BaseRow_ns:Baserow_API_spec__api_applications__GET_document_HttpInfo_statusType"/>
            <xsd:element minOccurs="0" name="headers" type="lib_BaseRow_ns:Baserow_API_spec__api_applications__GET_document_HttpInfo_headersType"/>
            <xsd:element minOccurs="0" name="responseHeaders" type="lib_BaseRow_ns:Baserow_API_spec__api_applications__GET_document_HttpInfo_responseHeadersType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_applications__GET_document_array_object_idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_applications__GET_document_array_object_nameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_applications__GET_document_array_object_orderType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_applications__GET_document_array_object_typeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_applications__GET_document_array_object_group_idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_applications__GET_document_array_object_group_nameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_applications__GET_document_array_object_groupType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="id" type="lib_BaseRow_ns:Baserow_API_spec__api_applications__GET_document_array_object_group_idType"/>
            <xsd:element minOccurs="0" name="name" type="lib_BaseRow_ns:Baserow_API_spec__api_applications__GET_document_array_object_group_nameType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_applications__GET_document_array_object_tables_object_idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_applications__GET_document_array_object_tables_object_nameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_applications__GET_document_array_object_tables_object_orderType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_applications__GET_document_array_object_tables_object_database_idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_applications__GET_document_array_object_tables_objectType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="id" type="lib_BaseRow_ns:Baserow_API_spec__api_applications__GET_document_array_object_tables_object_idType"/>
            <xsd:element minOccurs="0" name="name" type="lib_BaseRow_ns:Baserow_API_spec__api_applications__GET_document_array_object_tables_object_nameType"/>
            <xsd:element minOccurs="0" name="order" type="lib_BaseRow_ns:Baserow_API_spec__api_applications__GET_document_array_object_tables_object_orderType"/>
            <xsd:element minOccurs="0" name="database_id" type="lib_BaseRow_ns:Baserow_API_spec__api_applications__GET_document_array_object_tables_object_database_idType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_applications__GET_document_array_object_tablesType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="object" type="lib_BaseRow_ns:Baserow_API_spec__api_applications__GET_document_array_object_tables_objectType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_applications__GET_document_array_objectType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="id" type="lib_BaseRow_ns:Baserow_API_spec__api_applications__GET_document_array_object_idType"/>
            <xsd:element minOccurs="0" name="name" type="lib_BaseRow_ns:Baserow_API_spec__api_applications__GET_document_array_object_nameType"/>
            <xsd:element minOccurs="0" name="order" type="lib_BaseRow_ns:Baserow_API_spec__api_applications__GET_document_array_object_orderType"/>
            <xsd:element minOccurs="0" name="type" type="lib_BaseRow_ns:Baserow_API_spec__api_applications__GET_document_array_object_typeType"/>
            <xsd:element minOccurs="0" name="group" type="lib_BaseRow_ns:Baserow_API_spec__api_applications__GET_document_array_object_groupType"/>
            <xsd:element minOccurs="0" name="tables" type="lib_BaseRow_ns:Baserow_API_spec__api_applications__GET_document_array_object_tablesType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_applications__GET_document_arrayType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="object" type="lib_BaseRow_ns:Baserow_API_spec__api_applications__GET_document_array_objectType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec___api_applications__GETResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="HttpInfo" type="lib_BaseRow_ns:Baserow_API_spec__api_applications__GET_document_HttpInfoType"/>
            <xsd:element minOccurs="0" name="array" type="lib_BaseRow_ns:Baserow_API_spec__api_applications__GET_document_arrayType"/>
            <xsd:element minOccurs="0" name="error" type="lib_BaseRow_ns:ConvertigoError"/>
        </xsd:sequence>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="context" type="xsd:string"/>
        <xsd:attribute name="contextId" type="xsd:string"/>
        <xsd:attribute name="fromStub" type="xsd:boolean"/>
        <xsd:attribute name="fromcache" type="xsd:boolean"/>
        <xsd:attribute name="generated" type="xsd:string"/>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="signature" type="xsd:long"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="version" type="xsd:string"/>
        <xsd:attribute name="screenclass" type="xsd:string"/>
        <xsd:attribute name="userReference" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContextVariable">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContext">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="lib_BaseRow_ns:ConvertigoErrorContextVariable"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoError">
        <xsd:sequence minOccurs="0">
            <xsd:element name="code" type="xsd:integer"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="details" type="xsd:string"/>
            <xsd:element name="context" type="lib_BaseRow_ns:ConvertigoErrorContext"/>
            <xsd:element name="exception" type="xsd:string"/>
            <xsd:element name="stacktrace" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="type">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="c8o"/>
                    <xsd:enumeration value="project"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
