xsd/internal/Baserow_API_spec/_api_database_rows_table__table_id___GET.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:lib_BaseRow_ns="http://www.convertigo.com/convertigo/projects/lib_BaseRow" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.convertigo.com/convertigo/projects/lib_BaseRow">
    <xsd:element name="Baserow_API_spec___api_database_rows_table__table_id___GET" type="lib_BaseRow_ns:Baserow_API_spec___api_database_rows_table__table_id___GETRequestData">
        <xsd:annotation>
            <xsd:documentation><![CDATA[Lists all the rows of the table related to the provided parameter if the user has access to the related database's group. The response is paginated by a page/size style. It is also possible to provide an optional search query, only rows where the data matches the search query are going to be returned then. The properties of the returned rows depends on which fields the table has. For a complete overview of fields use the **list_database_table_fields** endpoint to list them all. In the example all field types are listed, but normally the number in field_{id} key is going to be the id of the field. Or if the GET parameter `user_field_names` is provided then the keys will be the name of the field. The value is what the user has provided and the format of it depends on the fields type.
]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Baserow_API_spec___api_database_rows_table__table_id___GETResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_BaseRow_ns:Baserow_API_spec___api_database_rows_table__table_id___GETResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="Baserow_API_spec___api_database_rows_table__table_id___GETResponseType">
        <xsd:sequence>
            <xsd:element name="document" type="lib_BaseRow_ns:Baserow_API_spec___api_database_rows_table__table_id___GETResponseData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec___api_database_rows_table__table_id___GETRequestData">
        <xsd:sequence>
            <xsd:element name="exclude" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>exclude</xsd:appinfo>
                    <xsd:documentation><![CDATA[All the fields are included in the response by default. You can select a subset of fields by providing the exclude query parameter. If you for example provide the following GET parameter `exclude=field_1,field_2` then the fields with id `1` and id `2` are going to be excluded from the selection and response. If the `user_field_names` parameter is provided then instead exclude should be a comma separated list of the actual field names. For field names with commas you should surround the name with quotes like so: `exclude=My Field,"Field With , "`. A backslash can be used to escape field names which contain double quotes like so: `exclude=My Field,Field with \"`.
]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="filter" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>filter__{field}__{filter}</xsd:appinfo>
                    <xsd:documentation><![CDATA[The rows can optionally be filtered by the same view filters available for the views. Multiple filters can be provided if they follow the same format. The field and filter variable indicate how to filter and the value indicates where to filter on.



For example if you provide the following GET parameter `filter__field_1__equal=test` then only rows where the value of field_1 is equal to test are going to be returned.



The following filters are available: equal, not_equal, filename_contains, has_file_type, contains, contains_not, length_is_lower_than, higher_than, lower_than, date_equal, date_before, date_after, date_not_equal, date_equals_today, date_before_today, date_after_today, date_equals_days_ago, date_equals_months_ago, date_equals_years_ago, date_equals_week, date_equals_month, date_equals_day_of_month, date_equals_year, single_select_equal, single_select_not_equal, link_row_has, link_row_has_not, link_row_contains, link_row_not_contains, boolean, empty, not_empty, multiple_select_has, multiple_select_has_not.
]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="filter_type" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>filter_type</xsd:appinfo>
                    <xsd:documentation><![CDATA[`AND`: Indicates that the rows must match all the provided filters.

`OR`: Indicates that the rows only have to match one of the filters.



This works only if two or more filters are provided.
]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="include" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>include</xsd:appinfo>
                    <xsd:documentation><![CDATA[All the fields are included in the response by default. You can select a subset of fields by providing the include query parameter. If you for example provide the following GET parameter `include=field_1,field_2` then only the fields withid `1` and id `2` are going to be selected and included in the response. If the `user_field_names` parameter is provided then instead include should be a comma separated list of the actual field names. For field names with commas you should surround the name with quotes like so: `include=My Field,"Field With , "`. A backslash can be used to escape field names which contain double quotes like so: `include=My Field,Field with \"`.
]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="order_by" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>order_by</xsd:appinfo>
                    <xsd:documentation><![CDATA[Optionally the rows can be ordered by provided field ids separated by comma. By default a field is ordered in ascending (A-Z) order, but by prepending the field with a '-' it can be ordered descending (Z-A). If the `user_field_names` parameter is provided then instead order_by should be a comma separated list of the actual field names. For field names with commas you should surround the name with quotes like so: `order_by=My Field,"Field With , "`. A backslash can be used to escape field names which contain double quotes like so: `order_by=My Field,Field with \"`.
]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="page" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>page</xsd:appinfo>
                    <xsd:documentation><![CDATA[Defines which page of rows should be returned.
]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="search" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>search</xsd:appinfo>
                    <xsd:documentation><![CDATA[If provided only rows with data that matches the search query are going to be returned.
]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="size" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>size</xsd:appinfo>
                    <xsd:documentation><![CDATA[Defines how many rows should be returned per page.
]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="table_id" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>table_id</xsd:appinfo>
                    <xsd:documentation><![CDATA[Returns the rows of the table related to the provided value.
]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="user_field_names" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>user_field_names</xsd:appinfo>
                    <xsd:documentation><![CDATA[A flag query parameter which if provided the returned json will use the user specified field names instead of internal Baserow field names (field_123 etc). 
]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="view_id" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>view_id</xsd:appinfo>
                    <xsd:documentation><![CDATA[Includes all the filters and sorts of the provided view.
]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_database_rows_table__table_id___GET_document_HttpInfo_statusType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="code" type="xsd:short"/>
                <xsd:attribute name="text" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_database_rows_table__table_id___GET_document_HttpInfo_headers_headerType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="name" type="xsd:string"/>
                <xsd:attribute name="value" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_database_rows_table__table_id___GET_document_HttpInfo_headersType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="header" type="lib_BaseRow_ns:Baserow_API_spec__api_database_rows_table__table_id___GET_document_HttpInfo_headers_headerType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_database_rows_table__table_id___GET_document_HttpInfo_responseHeaders_headerType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="name" type="xsd:string"/>
                <xsd:attribute name="value" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_database_rows_table__table_id___GET_document_HttpInfo_responseHeadersType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="header" type="lib_BaseRow_ns:Baserow_API_spec__api_database_rows_table__table_id___GET_document_HttpInfo_responseHeaders_headerType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_database_rows_table__table_id___GET_document_HttpInfoType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="url" type="xsd:anyURI"/>
            <xsd:element minOccurs="0" name="status" type="lib_BaseRow_ns:Baserow_API_spec__api_database_rows_table__table_id___GET_document_HttpInfo_statusType"/>
            <xsd:element minOccurs="0" name="headers" type="lib_BaseRow_ns:Baserow_API_spec__api_database_rows_table__table_id___GET_document_HttpInfo_headersType"/>
            <xsd:element minOccurs="0" name="responseHeaders" type="lib_BaseRow_ns:Baserow_API_spec__api_database_rows_table__table_id___GET_document_HttpInfo_responseHeadersType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_countType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_nextType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_previousType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_object_idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_object_orderType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_object_NameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_object_DescriptionType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_object_Preferred_donationsType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="Preferred donations" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_object_Related_shows_object_idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_object_Related_shows_object_valueType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_object_Related_shows_objectType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="id" type="lib_BaseRow_ns:Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_object_Related_shows_object_idType"/>
            <xsd:element minOccurs="0" name="value" type="lib_BaseRow_ns:Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_object_Related_shows_object_valueType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_object_Related_showsType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="object" type="lib_BaseRow_ns:Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_object_Related_shows_objectType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="Related shows" name="originalKeyName" type="xsd:string"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_object_Contacts_object_idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_object_Contacts_object_valueType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_object_Contacts_objectType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="id" type="lib_BaseRow_ns:Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_object_Contacts_object_idType"/>
            <xsd:element minOccurs="0" name="value" type="lib_BaseRow_ns:Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_object_Contacts_object_valueType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_object_ContactsType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="object" type="lib_BaseRow_ns:Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_object_Contacts_objectType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_object_Is_tax_accreditedType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="Is tax accredited" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_object_Phone_object_idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_object_Phone_object_valueType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_object_Phone_objectType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="id" type="lib_BaseRow_ns:Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_object_Phone_object_idType"/>
            <xsd:element minOccurs="0" name="value" type="lib_BaseRow_ns:Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_object_Phone_object_valueType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_object_PhoneType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="object" type="lib_BaseRow_ns:Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_object_Phone_objectType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_object_Fommula_object_idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_object_Fommula_object_valueType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_object_Fommula_objectType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="id" type="lib_BaseRow_ns:Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_object_Fommula_object_idType"/>
            <xsd:element minOccurs="0" name="value" type="lib_BaseRow_ns:Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_object_Fommula_object_valueType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_object_FommulaType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="object" type="lib_BaseRow_ns:Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_object_Fommula_objectType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_objectType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="id" type="lib_BaseRow_ns:Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_object_idType"/>
            <xsd:element minOccurs="0" name="order" type="lib_BaseRow_ns:Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_object_orderType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_resultsType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="object" type="lib_BaseRow_ns:Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_results_objectType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_database_rows_table__table_id___GET_document_objectType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="count" type="lib_BaseRow_ns:Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_countType"/>
            <xsd:element minOccurs="0" name="next" type="lib_BaseRow_ns:Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_nextType"/>
            <xsd:element minOccurs="0" name="previous" type="lib_BaseRow_ns:Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_previousType"/>
            <xsd:element minOccurs="0" name="results" type="lib_BaseRow_ns:Baserow_API_spec__api_database_rows_table__table_id___GET_document_object_resultsType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec___api_database_rows_table__table_id___GETResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="HttpInfo" type="lib_BaseRow_ns:Baserow_API_spec__api_database_rows_table__table_id___GET_document_HttpInfoType"/>
            <xsd:element minOccurs="0" name="object" type="lib_BaseRow_ns:Baserow_API_spec__api_database_rows_table__table_id___GET_document_objectType"/>
            <xsd:element minOccurs="0" name="error" type="lib_BaseRow_ns:ConvertigoError"/>
        </xsd:sequence>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="context" type="xsd:string"/>
        <xsd:attribute name="contextId" type="xsd:string"/>
        <xsd:attribute name="fromStub" type="xsd:boolean"/>
        <xsd:attribute name="fromcache" type="xsd:boolean"/>
        <xsd:attribute name="generated" type="xsd:string"/>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="signature" type="xsd:long"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="version" type="xsd:string"/>
        <xsd:attribute name="screenclass" type="xsd:string"/>
        <xsd:attribute name="userReference" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContextVariable">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContext">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="lib_BaseRow_ns:ConvertigoErrorContextVariable"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoError">
        <xsd:sequence minOccurs="0">
            <xsd:element name="code" type="xsd:integer"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="details" type="xsd:string"/>
            <xsd:element name="context" type="lib_BaseRow_ns:ConvertigoErrorContext"/>
            <xsd:element name="exception" type="xsd:string"/>
            <xsd:element name="stacktrace" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="type">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="c8o"/>
                    <xsd:enumeration value="project"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
