xsd/internal/Baserow_API_spec/_api_user_token_auth__POST.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:lib_BaseRow_ns="http://www.convertigo.com/convertigo/projects/lib_BaseRow" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.convertigo.com/convertigo/projects/lib_BaseRow">
    <xsd:element name="Baserow_API_spec___api_user_token_auth__POST" type="lib_BaseRow_ns:Baserow_API_spec___api_user_token_auth__POSTRequestData">
        <xsd:annotation>
            <xsd:documentation><![CDATA[Authenticates an existing user based on their username, which is their email address, and their password. If successful a JWT token will be generated that can be used to authorize for other endpoints that require authorization. The token will be valid for 60 minutes, so it has to be refreshed using the **token_refresh** endpoint before that time.
]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Baserow_API_spec___api_user_token_auth__POSTResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_BaseRow_ns:Baserow_API_spec___api_user_token_auth__POSTResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="Baserow_API_spec___api_user_token_auth__POSTResponseType">
        <xsd:sequence>
            <xsd:element name="document" type="lib_BaseRow_ns:Baserow_API_spec___api_user_token_auth__POSTResponseData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec___api_user_token_auth__POSTRequestData">
        <xsd:sequence>
            <xsd:element name="__body" type="xsd:string">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_token_auth__POST_document_HttpInfo_statusType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="code" type="xsd:short"/>
                <xsd:attribute name="text" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_token_auth__POST_document_HttpInfo_headers_headerType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="name" type="xsd:string"/>
                <xsd:attribute name="value" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_token_auth__POST_document_HttpInfo_headersType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="header" type="lib_BaseRow_ns:Baserow_API_spec__api_user_token_auth__POST_document_HttpInfo_headers_headerType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_token_auth__POST_document_HttpInfo_responseHeaders_headerType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="name" type="xsd:string"/>
                <xsd:attribute name="value" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_token_auth__POST_document_HttpInfo_responseHeadersType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="header" type="lib_BaseRow_ns:Baserow_API_spec__api_user_token_auth__POST_document_HttpInfo_responseHeaders_headerType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_token_auth__POST_document_HttpInfoType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="url" type="xsd:anyURI"/>
            <xsd:element minOccurs="0" name="status" type="lib_BaseRow_ns:Baserow_API_spec__api_user_token_auth__POST_document_HttpInfo_statusType"/>
            <xsd:element minOccurs="0" name="headers" type="lib_BaseRow_ns:Baserow_API_spec__api_user_token_auth__POST_document_HttpInfo_headersType"/>
            <xsd:element minOccurs="0" name="responseHeaders" type="lib_BaseRow_ns:Baserow_API_spec__api_user_token_auth__POST_document_HttpInfo_responseHeadersType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_token_auth__POST_document_object_tokenType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_token_auth__POST_document_object_access_tokenType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_token_auth__POST_document_object_refresh_tokenType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_token_auth__POST_document_object_user_first_nameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_token_auth__POST_document_object_user_usernameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_token_auth__POST_document_object_user_is_staffType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_token_auth__POST_document_object_user_idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_token_auth__POST_document_object_user_languageType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_token_auth__POST_document_object_user_email_notification_frequencyType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_token_auth__POST_document_object_userType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="first_name" type="lib_BaseRow_ns:Baserow_API_spec__api_user_token_auth__POST_document_object_user_first_nameType"/>
            <xsd:element minOccurs="0" name="username" type="lib_BaseRow_ns:Baserow_API_spec__api_user_token_auth__POST_document_object_user_usernameType"/>
            <xsd:element minOccurs="0" name="is_staff" type="lib_BaseRow_ns:Baserow_API_spec__api_user_token_auth__POST_document_object_user_is_staffType"/>
            <xsd:element minOccurs="0" name="id" type="lib_BaseRow_ns:Baserow_API_spec__api_user_token_auth__POST_document_object_user_idType"/>
            <xsd:element minOccurs="0" name="language" type="lib_BaseRow_ns:Baserow_API_spec__api_user_token_auth__POST_document_object_user_languageType"/>
            <xsd:element minOccurs="0" name="email_notification_frequency" type="lib_BaseRow_ns:Baserow_API_spec__api_user_token_auth__POST_document_object_user_email_notification_frequencyType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_token_auth__POST_document_object_permissions_object_nameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_token_auth__POST_document_object_permissions_object_permissions_valueType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_token_auth__POST_document_object_permissions_object_permissions_staff_only_operations_valueType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_token_auth__POST_document_object_permissions_object_permissions_staff_only_operationsType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="value" type="lib_BaseRow_ns:Baserow_API_spec__api_user_token_auth__POST_document_object_permissions_object_permissions_staff_only_operations_valueType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_token_auth__POST_document_object_permissions_object_permissions_always_allowed_operations_valueType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_token_auth__POST_document_object_permissions_object_permissions_always_allowed_operationsType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="value" type="lib_BaseRow_ns:Baserow_API_spec__api_user_token_auth__POST_document_object_permissions_object_permissions_always_allowed_operations_valueType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_token_auth__POST_document_object_permissions_object_permissions_is_staffType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_token_auth__POST_document_object_permissions_object_permissionsType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="value" type="lib_BaseRow_ns:Baserow_API_spec__api_user_token_auth__POST_document_object_permissions_object_permissions_valueType"/>
            <xsd:element minOccurs="0" name="staff_only_operations" type="lib_BaseRow_ns:Baserow_API_spec__api_user_token_auth__POST_document_object_permissions_object_permissions_staff_only_operationsType"/>
            <xsd:element minOccurs="0" name="always_allowed_operations" type="lib_BaseRow_ns:Baserow_API_spec__api_user_token_auth__POST_document_object_permissions_object_permissions_always_allowed_operationsType"/>
            <xsd:element minOccurs="0" name="is_staff" type="lib_BaseRow_ns:Baserow_API_spec__api_user_token_auth__POST_document_object_permissions_object_permissions_is_staffType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
        <xsd:attribute name="length" type="xsd:byte"/>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_token_auth__POST_document_object_permissions_objectType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="name" type="lib_BaseRow_ns:Baserow_API_spec__api_user_token_auth__POST_document_object_permissions_object_nameType"/>
            <xsd:element minOccurs="0" name="permissions" type="lib_BaseRow_ns:Baserow_API_spec__api_user_token_auth__POST_document_object_permissions_object_permissionsType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_token_auth__POST_document_object_permissionsType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="object" type="lib_BaseRow_ns:Baserow_API_spec__api_user_token_auth__POST_document_object_permissions_objectType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_token_auth__POST_document_object_user_notifications_unread_countType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_token_auth__POST_document_object_user_notificationsType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="unread_count" type="lib_BaseRow_ns:Baserow_API_spec__api_user_token_auth__POST_document_object_user_notifications_unread_countType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_token_auth__POST_document_object_active_licenses_instance_wideType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="object" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_token_auth__POST_document_object_active_licenses_per_workspaceType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="object" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_token_auth__POST_document_object_active_licensesType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="instance_wide" type="lib_BaseRow_ns:Baserow_API_spec__api_user_token_auth__POST_document_object_active_licenses_instance_wideType"/>
            <xsd:element minOccurs="0" name="per_workspace" type="lib_BaseRow_ns:Baserow_API_spec__api_user_token_auth__POST_document_object_active_licenses_per_workspaceType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_token_auth__POST_document_objectType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="token" type="lib_BaseRow_ns:Baserow_API_spec__api_user_token_auth__POST_document_object_tokenType"/>
            <xsd:element minOccurs="0" name="access_token" type="lib_BaseRow_ns:Baserow_API_spec__api_user_token_auth__POST_document_object_access_tokenType"/>
            <xsd:element minOccurs="0" name="refresh_token" type="lib_BaseRow_ns:Baserow_API_spec__api_user_token_auth__POST_document_object_refresh_tokenType"/>
            <xsd:element minOccurs="0" name="user" type="lib_BaseRow_ns:Baserow_API_spec__api_user_token_auth__POST_document_object_userType"/>
            <xsd:element minOccurs="0" name="permissions" type="lib_BaseRow_ns:Baserow_API_spec__api_user_token_auth__POST_document_object_permissionsType"/>
            <xsd:element minOccurs="0" name="user_notifications" type="lib_BaseRow_ns:Baserow_API_spec__api_user_token_auth__POST_document_object_user_notificationsType"/>
            <xsd:element minOccurs="0" name="active_licenses" type="lib_BaseRow_ns:Baserow_API_spec__api_user_token_auth__POST_document_object_active_licensesType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec___api_user_token_auth__POSTResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="HttpInfo" type="lib_BaseRow_ns:Baserow_API_spec__api_user_token_auth__POST_document_HttpInfoType"/>
            <xsd:element minOccurs="0" name="object" type="lib_BaseRow_ns:Baserow_API_spec__api_user_token_auth__POST_document_objectType"/>
            <xsd:element minOccurs="0" name="error" type="lib_BaseRow_ns:ConvertigoError"/>
        </xsd:sequence>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="context" type="xsd:string"/>
        <xsd:attribute name="contextId" type="xsd:string"/>
        <xsd:attribute name="fromStub" type="xsd:boolean"/>
        <xsd:attribute name="fromcache" type="xsd:boolean"/>
        <xsd:attribute name="generated" type="xsd:string"/>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="signature" type="xsd:long"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="version" type="xsd:string"/>
        <xsd:attribute name="screenclass" type="xsd:string"/>
        <xsd:attribute name="userReference" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContextVariable">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContext">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="lib_BaseRow_ns:ConvertigoErrorContextVariable"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoError">
        <xsd:sequence minOccurs="0">
            <xsd:element name="code" type="xsd:integer"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="details" type="xsd:string"/>
            <xsd:element name="context" type="lib_BaseRow_ns:ConvertigoErrorContext"/>
            <xsd:element name="exception" type="xsd:string"/>
            <xsd:element name="stacktrace" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="type">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="c8o"/>
                    <xsd:enumeration value="project"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
