xsd/internal/Baserow_API_spec/_api_user_files_upload_file__POST.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:lib_BaseRow_ns="http://www.convertigo.com/convertigo/projects/lib_BaseRow" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.convertigo.com/convertigo/projects/lib_BaseRow">
    <xsd:element name="Baserow_API_spec___api_user_files_upload_file__POST" type="lib_BaseRow_ns:Baserow_API_spec___api_user_files_upload_file__POSTRequestData">
        <xsd:annotation>
            <xsd:documentation><![CDATA[Uploads a file to Baserow by uploading the file contents directly. A `file` multipart is expected containing the file contents.
]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Baserow_API_spec___api_user_files_upload_file__POSTResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_BaseRow_ns:Baserow_API_spec___api_user_files_upload_file__POSTResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="Baserow_API_spec___api_user_files_upload_file__POSTResponseType">
        <xsd:sequence>
            <xsd:element name="document" type="lib_BaseRow_ns:Baserow_API_spec___api_user_files_upload_file__POSTResponseData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec___api_user_files_upload_file__POSTRequestData">
        <xsd:sequence>
            <xsd:element name="file" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="__header_Authorization" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_files_upload_file__POST_document_HttpInfo_statusType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="code" type="xsd:short"/>
                <xsd:attribute name="text" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_files_upload_file__POST_document_HttpInfo_headers_headerType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="name" type="xsd:string"/>
                <xsd:attribute name="value" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_files_upload_file__POST_document_HttpInfo_headersType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="header" type="lib_BaseRow_ns:Baserow_API_spec__api_user_files_upload_file__POST_document_HttpInfo_headers_headerType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_files_upload_file__POST_document_HttpInfo_responseHeaders_headerType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="name" type="xsd:string"/>
                <xsd:attribute name="value" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_files_upload_file__POST_document_HttpInfo_responseHeadersType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="header" type="lib_BaseRow_ns:Baserow_API_spec__api_user_files_upload_file__POST_document_HttpInfo_responseHeaders_headerType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_files_upload_file__POST_document_HttpInfoType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="url" type="xsd:anyURI"/>
            <xsd:element minOccurs="0" name="status" type="lib_BaseRow_ns:Baserow_API_spec__api_user_files_upload_file__POST_document_HttpInfo_statusType"/>
            <xsd:element minOccurs="0" name="headers" type="lib_BaseRow_ns:Baserow_API_spec__api_user_files_upload_file__POST_document_HttpInfo_headersType"/>
            <xsd:element minOccurs="0" name="responseHeaders" type="lib_BaseRow_ns:Baserow_API_spec__api_user_files_upload_file__POST_document_HttpInfo_responseHeadersType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_files_upload_file__POST_document_object_sizeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_files_upload_file__POST_document_object_mime_typeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_files_upload_file__POST_document_object_is_imageType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_files_upload_file__POST_document_object_image_widthType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_files_upload_file__POST_document_object_image_heightType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_files_upload_file__POST_document_object_uploaded_atType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_files_upload_file__POST_document_object_urlType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_files_upload_file__POST_document_object_thumbnails_tiny_urlType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_files_upload_file__POST_document_object_thumbnails_tiny_widthType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_files_upload_file__POST_document_object_thumbnails_tiny_heightType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_files_upload_file__POST_document_object_thumbnails_tinyType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="url" type="lib_BaseRow_ns:Baserow_API_spec__api_user_files_upload_file__POST_document_object_thumbnails_tiny_urlType"/>
            <xsd:element minOccurs="0" name="width" type="lib_BaseRow_ns:Baserow_API_spec__api_user_files_upload_file__POST_document_object_thumbnails_tiny_widthType"/>
            <xsd:element minOccurs="0" name="height" type="lib_BaseRow_ns:Baserow_API_spec__api_user_files_upload_file__POST_document_object_thumbnails_tiny_heightType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_files_upload_file__POST_document_object_thumbnails_small_urlType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_files_upload_file__POST_document_object_thumbnails_small_widthType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_files_upload_file__POST_document_object_thumbnails_small_heightType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_files_upload_file__POST_document_object_thumbnails_smallType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="url" type="lib_BaseRow_ns:Baserow_API_spec__api_user_files_upload_file__POST_document_object_thumbnails_small_urlType"/>
            <xsd:element minOccurs="0" name="width" type="lib_BaseRow_ns:Baserow_API_spec__api_user_files_upload_file__POST_document_object_thumbnails_small_widthType"/>
            <xsd:element minOccurs="0" name="height" type="lib_BaseRow_ns:Baserow_API_spec__api_user_files_upload_file__POST_document_object_thumbnails_small_heightType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_files_upload_file__POST_document_object_thumbnails_card_cover_urlType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_files_upload_file__POST_document_object_thumbnails_card_cover_widthType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_files_upload_file__POST_document_object_thumbnails_card_cover_heightType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_files_upload_file__POST_document_object_thumbnails_card_coverType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="url" type="lib_BaseRow_ns:Baserow_API_spec__api_user_files_upload_file__POST_document_object_thumbnails_card_cover_urlType"/>
            <xsd:element minOccurs="0" name="width" type="lib_BaseRow_ns:Baserow_API_spec__api_user_files_upload_file__POST_document_object_thumbnails_card_cover_widthType"/>
            <xsd:element minOccurs="0" name="height" type="lib_BaseRow_ns:Baserow_API_spec__api_user_files_upload_file__POST_document_object_thumbnails_card_cover_heightType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_files_upload_file__POST_document_object_thumbnailsType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="tiny" type="lib_BaseRow_ns:Baserow_API_spec__api_user_files_upload_file__POST_document_object_thumbnails_tinyType"/>
            <xsd:element minOccurs="0" name="small" type="lib_BaseRow_ns:Baserow_API_spec__api_user_files_upload_file__POST_document_object_thumbnails_smallType"/>
            <xsd:element minOccurs="0" name="card_cover" type="lib_BaseRow_ns:Baserow_API_spec__api_user_files_upload_file__POST_document_object_thumbnails_card_coverType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_files_upload_file__POST_document_object_nameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_files_upload_file__POST_document_object_original_nameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_user_files_upload_file__POST_document_objectType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="size" type="lib_BaseRow_ns:Baserow_API_spec__api_user_files_upload_file__POST_document_object_sizeType"/>
            <xsd:element minOccurs="0" name="mime_type" type="lib_BaseRow_ns:Baserow_API_spec__api_user_files_upload_file__POST_document_object_mime_typeType"/>
            <xsd:element minOccurs="0" name="is_image" type="lib_BaseRow_ns:Baserow_API_spec__api_user_files_upload_file__POST_document_object_is_imageType"/>
            <xsd:element minOccurs="0" name="image_width" type="lib_BaseRow_ns:Baserow_API_spec__api_user_files_upload_file__POST_document_object_image_widthType"/>
            <xsd:element minOccurs="0" name="image_height" type="lib_BaseRow_ns:Baserow_API_spec__api_user_files_upload_file__POST_document_object_image_heightType"/>
            <xsd:element minOccurs="0" name="uploaded_at" type="lib_BaseRow_ns:Baserow_API_spec__api_user_files_upload_file__POST_document_object_uploaded_atType"/>
            <xsd:element minOccurs="0" name="url" type="lib_BaseRow_ns:Baserow_API_spec__api_user_files_upload_file__POST_document_object_urlType"/>
            <xsd:element minOccurs="0" name="thumbnails" type="lib_BaseRow_ns:Baserow_API_spec__api_user_files_upload_file__POST_document_object_thumbnailsType"/>
            <xsd:element minOccurs="0" name="name" type="lib_BaseRow_ns:Baserow_API_spec__api_user_files_upload_file__POST_document_object_nameType"/>
            <xsd:element minOccurs="0" name="original_name" type="lib_BaseRow_ns:Baserow_API_spec__api_user_files_upload_file__POST_document_object_original_nameType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec___api_user_files_upload_file__POSTResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="HttpInfo" type="lib_BaseRow_ns:Baserow_API_spec__api_user_files_upload_file__POST_document_HttpInfoType"/>
            <xsd:element minOccurs="0" name="object" type="lib_BaseRow_ns:Baserow_API_spec__api_user_files_upload_file__POST_document_objectType"/>
            <xsd:element minOccurs="0" name="error" type="lib_BaseRow_ns:ConvertigoError"/>
        </xsd:sequence>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="context" type="xsd:string"/>
        <xsd:attribute name="contextId" type="xsd:string"/>
        <xsd:attribute name="fromStub" type="xsd:boolean"/>
        <xsd:attribute name="fromcache" type="xsd:boolean"/>
        <xsd:attribute name="generated" type="xsd:string"/>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="signature" type="xsd:long"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="version" type="xsd:string"/>
        <xsd:attribute name="screenclass" type="xsd:string"/>
        <xsd:attribute name="userReference" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContextVariable">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContext">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="lib_BaseRow_ns:ConvertigoErrorContextVariable"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoError">
        <xsd:sequence minOccurs="0">
            <xsd:element name="code" type="xsd:integer"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="details" type="xsd:string"/>
            <xsd:element name="context" type="lib_BaseRow_ns:ConvertigoErrorContext"/>
            <xsd:element name="exception" type="xsd:string"/>
            <xsd:element name="stacktrace" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="type">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="c8o"/>
                    <xsd:enumeration value="project"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
