xsd/internal/Baserow_API_spec/_api_groups_invitations_group__group_id___POST.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:lib_BaseRow_ns="http://www.convertigo.com/convertigo/projects/lib_BaseRow" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.convertigo.com/convertigo/projects/lib_BaseRow">
    <xsd:element name="Baserow_API_spec___api_groups_invitations_group__group_id___POST" type="lib_BaseRow_ns:Baserow_API_spec___api_groups_invitations_group__group_id___POSTRequestData">
        <xsd:annotation>
            <xsd:documentation><![CDATA[Creates a new group invitations for an email address if the authorized user has admin rights to the related group. An email containing a sign up link will be send to the user.
]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Baserow_API_spec___api_groups_invitations_group__group_id___POSTResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_BaseRow_ns:Baserow_API_spec___api_groups_invitations_group__group_id___POSTResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="Baserow_API_spec___api_groups_invitations_group__group_id___POSTResponseType">
        <xsd:sequence>
            <xsd:element name="document" type="lib_BaseRow_ns:Baserow_API_spec___api_groups_invitations_group__group_id___POSTResponseData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec___api_groups_invitations_group__group_id___POSTRequestData">
        <xsd:sequence>
            <xsd:element name="__body" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="group_id" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>group_id</xsd:appinfo>
                    <xsd:documentation><![CDATA[Creates a group invitation to the group related to the provided value.
]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_groups_invitations_group__group_id___POST_document_HttpInfo_statusType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="code" type="xsd:short"/>
                <xsd:attribute name="text" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_groups_invitations_group__group_id___POST_document_HttpInfo_headers_headerType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="name" type="xsd:string"/>
                <xsd:attribute name="value" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_groups_invitations_group__group_id___POST_document_HttpInfo_headersType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="header" type="lib_BaseRow_ns:Baserow_API_spec__api_groups_invitations_group__group_id___POST_document_HttpInfo_headers_headerType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_groups_invitations_group__group_id___POST_document_HttpInfo_responseHeaders_headerType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="name" type="xsd:string"/>
                <xsd:attribute name="value" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_groups_invitations_group__group_id___POST_document_HttpInfo_responseHeadersType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="header" type="lib_BaseRow_ns:Baserow_API_spec__api_groups_invitations_group__group_id___POST_document_HttpInfo_responseHeaders_headerType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_groups_invitations_group__group_id___POST_document_HttpInfoType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="url" type="xsd:anyURI"/>
            <xsd:element minOccurs="0" name="status" type="lib_BaseRow_ns:Baserow_API_spec__api_groups_invitations_group__group_id___POST_document_HttpInfo_statusType"/>
            <xsd:element minOccurs="0" name="headers" type="lib_BaseRow_ns:Baserow_API_spec__api_groups_invitations_group__group_id___POST_document_HttpInfo_headersType"/>
            <xsd:element minOccurs="0" name="responseHeaders" type="lib_BaseRow_ns:Baserow_API_spec__api_groups_invitations_group__group_id___POST_document_HttpInfo_responseHeadersType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_groups_invitations_group__group_id___POST_document_object_idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_groups_invitations_group__group_id___POST_document_object_groupType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_groups_invitations_group__group_id___POST_document_object_emailType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_groups_invitations_group__group_id___POST_document_object_permissionsType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_groups_invitations_group__group_id___POST_document_object_messageType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_groups_invitations_group__group_id___POST_document_object_created_onType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec__api_groups_invitations_group__group_id___POST_document_objectType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="id" type="lib_BaseRow_ns:Baserow_API_spec__api_groups_invitations_group__group_id___POST_document_object_idType"/>
            <xsd:element minOccurs="0" name="group" type="lib_BaseRow_ns:Baserow_API_spec__api_groups_invitations_group__group_id___POST_document_object_groupType"/>
            <xsd:element minOccurs="0" name="email" type="lib_BaseRow_ns:Baserow_API_spec__api_groups_invitations_group__group_id___POST_document_object_emailType"/>
            <xsd:element minOccurs="0" name="permissions" type="lib_BaseRow_ns:Baserow_API_spec__api_groups_invitations_group__group_id___POST_document_object_permissionsType"/>
            <xsd:element minOccurs="0" name="message" type="lib_BaseRow_ns:Baserow_API_spec__api_groups_invitations_group__group_id___POST_document_object_messageType"/>
            <xsd:element minOccurs="0" name="created_on" type="lib_BaseRow_ns:Baserow_API_spec__api_groups_invitations_group__group_id___POST_document_object_created_onType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Baserow_API_spec___api_groups_invitations_group__group_id___POSTResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="HttpInfo" type="lib_BaseRow_ns:Baserow_API_spec__api_groups_invitations_group__group_id___POST_document_HttpInfoType"/>
            <xsd:element minOccurs="0" name="object" type="lib_BaseRow_ns:Baserow_API_spec__api_groups_invitations_group__group_id___POST_document_objectType"/>
            <xsd:element minOccurs="0" name="error" type="lib_BaseRow_ns:ConvertigoError"/>
        </xsd:sequence>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="context" type="xsd:string"/>
        <xsd:attribute name="contextId" type="xsd:string"/>
        <xsd:attribute name="fromStub" type="xsd:boolean"/>
        <xsd:attribute name="fromcache" type="xsd:boolean"/>
        <xsd:attribute name="generated" type="xsd:string"/>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="signature" type="xsd:long"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="version" type="xsd:string"/>
        <xsd:attribute name="screenclass" type="xsd:string"/>
        <xsd:attribute name="userReference" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContextVariable">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContext">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="lib_BaseRow_ns:ConvertigoErrorContextVariable"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoError">
        <xsd:sequence minOccurs="0">
            <xsd:element name="code" type="xsd:integer"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="details" type="xsd:string"/>
            <xsd:element name="context" type="lib_BaseRow_ns:ConvertigoErrorContext"/>
            <xsd:element name="exception" type="xsd:string"/>
            <xsd:element name="stacktrace" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="type">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="c8o"/>
                    <xsd:enumeration value="project"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
